<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic ut
        deleniti pariatur dolore, ipsum voluptas doloribus eaque explicabo quod
        harum, a nisi! Vel praesentium fugiat quasi velit atque minima!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic ut
        deleniti pariatur dolore, ipsum voluptas doloribus eaque explicabo quod
        harum, a nisi! Vel praesentium fugiat quasi velit atque minima!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic ut
        deleniti pariatur dolore, ipsum voluptas doloribus eaque explicabo quod
        harum, a nisi! Vel praesentium fugiat quasi velit atque minima!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
